dist
node_modules
coverage
.vscode
.DS_Store
.eslintcache
*.log*
*.env*
.workmux
!test/fixtures/**/dist
playground/out
.nitro
.nuxt
.output

test/fixtures/nuxt-v4/*
!test/fixtures/nuxt-v4/package.json
test/fixtures/nuxt-v5/*
!test/fixtures/nuxt-v5/package.json
